<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:replace="layout::base_header('工序信息')"/>
    <meta charset="utf-8"/>
</head>

<body th:replace="layout::header"></body>
<div class="container">
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <div class="alert alert-danger mt-2" role="alert" th:if="${message}" th:text="${message}">
    </div>
    <div class="alert alert-success mt-2" role="alert" th:if="${messageSuccess}" th:text="${messageSuccess}">
    </div>
    <div class="row">
        <div class="col-md-4">
            <form th:action="@{/process/search}" th:method="post" th:object="${processForm}" role="form" id="processForm">
                <div class="form-group input-material">
                    <input type="text" class="form-control col-md-8 required" id="processId" th:field="*{processId}">
                    <label for="processId">工序号</label>
                </div>

                <div class="form-group input-material">
                    <input type="text" class="form-control col-md-8 required" id="processName" th:field="*{processName}">
                    <label for="processName">工序名</label>
                </div>

                <div class="form-group row">
                    <label for="productId" class="col-sm-2 col-form-label">商品</label>
                    <select id="productId" class="form-control ml-3 col-sm-10" name="productId">
                        <option value="">--请选择商品--</option>
                        <!-- 动态生成选项 -->
                        <option th:each="option : *{productList}"
                                th:value="${option.productId}"
                                th:text="${#strings.defaultString(option.productStyleName, '')} + ' - ' + ${#strings.defaultString(option.productName, '')}"
                                th:selected="${option.productId == processForm.productId}">
                            Option Name
                        </option>
                    </select>
                </div>

                <div class="form-group row mx-auto">
                    <button class="btn btn-light btn-sm btn-radius" type="submit">検索</button>
                    <button class="reset btn btn-info btn-sm btn-radius ml-3" type="button">
                        <span>検索条件クリア</span>
                    </button>
                </div>
            </form>


        </div>
        <div class="col-md-8">
            <div th:if="${pageInfo != null}" >
                <div class="row">
                    <table class="table table-striped table-bordered table-hover table-condensed col-md-12">
                        <legend>
                            <strong>工序信息</strong>
                        </legend>
                        <thead>
                        <tr class="bg-success text-white">
                            <th>款号</th>
                            <th>品名</th>
                            <th>工序号</th>
                            <th>工序名</th>
                            <th>单价</th>
                            <th>时间</th>
                            <th>编辑</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="process : ${pageInfo.list}">
                            <td th:text="${process.productStyleName}"></td>
                            <td th:text="${process.productName}"></td>
                            <td th:text="${process.processId}"></td>
                            <td th:text="${process.processName}"></td>
                            <td th:text="${process.unitPrice}"></td>
                            <td th:text="${process.costTime}"></td>
                            <td>
                                <a th:href="@{/process/edit/{id}(id=${process.processKeyId})}" class="btn btn-xs btn-info btn-radius">编辑</a>
                                <a th:href="@{/process/delete/{id}(id=${process.processKeyId})}"
                                   class="btn btn-xs btn-danger btn-radius"
                                   onclick="return confirm('确定要删除吗？')">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <a th:href="@{/process/add}" class="btn btn-primary mb-3 btn-sm btn-radius">添加工序</a>
                </div>
                <div class="row">
                    <!--/*@thymesVar id="pageInfo" type="com.github.pagehelper.PageInfo"*/-->
                    <ul th:replace="page/pageKmirari::paging(${pageInfo})"></ul>
                </div>
            </div>

        </div>
    </div>

</div>

<script th:inline="javascript">

    $(".reset").click(function(){
        $(":input", "#processForm,#oneUploadForm,#allUploadForm").not(":button", ":reset", ":hidden", ":submit").not("select[disabled='disabled']").val("").removeAttr("checked").removeAttr("selected");
        $(".custom-file-label").html("100KB");
    })

    $('#age').placeholderTypewriter({
        text: ["Only three digits can be entered !", "999", "99", "9"]
    });

    $(document).on('change', '.custom-file-input', function (event) {
        $(this).next('.custom-file-label').html(event.target.files[0].name);
    })

    $(function() {
        $.samaskHtml();

        $('#processForm').materializeInputs(".input-material #name-field");
    });

</script>
</html>